<div id="NombeUsuario">
  <p>
    <label id="label_nombre1">Nombre: </label><input type="text" id="nombre1" />
  </p>
  <p id="nombre2" hidden>
    <label id="label_nombre2">Segundo nombre: </label><input type="text" />
  </p>
  <p>
    <label id="label_apellido1">Apellido 1: </label
    ><input type="text" id="apellido1" />
  </p>
  <p>
    <label id="label_apellido2">Apellido 2: </label
    ><input type="text" id="apellido2" />
  </p>
</div>

<div>
  <p>
    Sexo:
    <select id="sexo">
      <option>Seleccionar opción</option>
      <option value="M">Mujer</option>
      <option value="H">Hombre</option>
    </select>
  </p>
</div>

<!-- <button id="myButton" (click)="f_onclick()">Ejecutar acción</button> -->
